html {
	width: 100%;
	height: 100%;
  min-height: 100vh;
	background: -webkit-linear-gradient(-135deg, #00008b, #00008b);
  background: -o-linear-gradient(-135deg, #00008b, #00008b);
  background: -moz-linear-gradient(-135deg, #00008b, #00008b);
  background: linear-gradient(-135deg, #00008b, #e0a255);
	font-family: sans-serif;
}

.negrita {
	font-weight: bold;
}
.negritacentrado {
	text-align: center;
	font-weight: bold;
}

.negritacentrado24 {
	font-size: 24px;
	margin-top: 14px;
	margin-bottom: 14px;
	text-align: center;
	font-weight: bold;
}

.blanconegrita {
	font-weight: bold;
	color: white;
}

.blanconegritaconf {
	font-weight: bold;
	width: 100%;
	margin-top: 30px;
	color: white;
}

/*################*/
/*  HEADER CSS    */
/*################*/
.interior_superior {
	float: left;
	clear: left;
	margin-top: 5px;
	height: 60px;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	padding-bottom: 15px;
	border-bottom: 5px solid orange;
}

.exterior_superior {
	width: 100%;
	height: 50px;
	float: center;
	clear: left;
}

.seccion_superior {
	background-color: orange;
	height: 45px;
	border-radius: 10px;
	font-size: 18px;
	margin-left: 1%;
	width: 20%;
	text-decoration: none;
	align-items: center;
	align-content: center;
	display: flex;
	border: 5px solid white;
	justify-content: center;
	color: white;
}

.seccion_superior:hover {
	background-color: green;
}

/*################*/
/*    BODY CSS    */
/*################*/
.exterior_contenido {
	width: 95%;
	height: 80%;
	clear: left;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	/*
	border: 5px solid yellow;
	border-radius: 5px;
	*/
}

.interior_contenido {
	height: 700px;
	width: 95%;
	clear: left;
	margin-right: auto;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-left: auto;
	display: flex;
}

.seccion1 {
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 5%;
	height: 100%;
	border: 10px solid white;
	background-color: orange;
	display: inline-block;
}

.contenido {
	width: 85%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.contenidotop {
	width: 100%;
	border-bottom: 5px solid white;
	margin-left: auto;
	margin-right: auto;
}

.input100 {
  font-size: 15px;
  color: #666666;
	float: right;
  width: 40%;
  background: white;
	font-weight: normal;
	text-align: center;
  height: 24px;
	border: 2px solid black;
}

.noinput100 {
  font-size: 14px;
  color: white;
	float: right;
  width: 40%;
  background: gray;
	font-weight: normal;
	text-align: center;
  height: 20px;
	border: 2px solid black;
}

.login100-form-btn {
  font-size: 14px;
  color: black;
	margin-top: 20px;
  font-weight: bold;
  width: 45%;
  height: 30px;
  background: white;
	border: 2px solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.login100-form-btn-big {
  font-size: 14px;
  color: black;
	margin-top: 20px;
  font-weight: bold;
  width: 70%;
  height: 10%;
  background: white;
	border: 2px solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.verde {
	padding: 3px;
	background-color: green;
	font-weight: bold;
	color: white;
	border: 2px solid black;
}

.rojo {
	font-size: 16px;
	background-color: red;
	font-weight: bold;
	color: white;
}

.espaciado {
	width: 100%;
	color: white;
	font-weight: bold;
}

.textoboton {
	font-size: 14px;
}

@media (max-width: 1710px) {
	html {
		font-size: 14px;
	}
	.exterior_contenido {
		width: 100%;
	}
	.noinput100 {
		font-size: 13px;
	}
	.negritacentrado24 {
		font-size: 22px;
	}
	.interior_contenido {
		height: 600px;
	}
}

@media (max-width: 1500px) {
	html {
		font-size: 13px;
	}
	.noinput100 {
		font-size: 11px;
	}
}

@media (max-width: 1350px) {
	html {
		font-size: 12px;
	}
	.noinput100 {
		font-size: 11px;
	}
}

@media (max-width: 1250px) {
	html {
		font-size: 11px;
	}
	.input100 {
		font-size: 14px;
	}
	.noinput100 {
		font-size: 10px;
		height: 17px;

	}
	.espaciado {
		clear: none;
	}
	.interior_contenido {
		height: 550px;
		width: 96%;
	}
}

@media (max-width: 1150px) {
	html {
		font-size: 10px;
	}
	.input100 {
		font-size: 13px;
	}
	.noinput100 {
		font-size: 9px;
		height: 16px;
	}
	.textoboton {
		font-size: 12px;
	}
	.espaciado {
		clear: none;
	}
	.negrita {
		font-size: 16px;
	}
	.interior_contenido {
		height: 530px;
		width: 97%;
	}
}

@media (max-width: 1050px) {
	html {
		font-size: 9px;
	}
	.input100 {
		font-size: 13px;
	}
	.noinput100 {
		font-size: 8px;
		height: 14px;
	}
	.textoboton {
		font-size: 12px;
	}
	.espaciado {
		clear: none;
	}
	.interior_contenido {
		height: 510px;
		width: 97%;
	}
}

/*################*/
/*  DATABASE CSS  */
/*################*/

.login100-form-btn-db {
  font-size: 14px;
  color: black;
	margin-top: 30px;
  font-weight: bold;
	margin-right: 3%;
  width: 17.5%;
  height: 10%;
  background: white;
	float: right;
	clear: right;
	border: 2px solid black;

}

.seccion1-db {
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 5%;
	height: 99%;
	border: 10px solid white;
	background-color: orange;
	display: inline-block;
}

.db {
	margin-left: 2%;
	width: 75%;
	height: 68%;
	float: left;
	background-color: white;
	border: 2px solid black;
	overflow-y: scroll;
}

.dbtop {
	position: fixed;
}


.contenido-db {
	width: 95%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.search {
	margin-left: 2%;
	width: 90%;
	height: 30px;
	margin-top: 10px;
	align-items: left;
	align-content: center;
	justify-content: left;
	display: flex;
	margin-bottom: 10px;
	float: left;
}

.negritacentrado24-db {
	font-size: 32px;
	margin-top: 14px;
	margin-bottom: 14px;
	text-align: center;
	font-weight: bold;
}

.input100-db {
  font-size: 15px;
  color: #666666;
	float: right;
  width: 40%;
  background: white;
	margin-left: 20px;
	font-weight: normal;
	text-align: left;
  height: 100%;
	border: 2px solid black;
}

.margenselect {
	margin-left: 20px;
}

.login100-form-btn-db-search {
	margin-left: 20px;
}

.fila {
	color: blue;
	border: 5px solid black;
}

.rid {
	width: 60px;
	display: flex;
	justify-content: center;
}

.titol {
	width: 80px;
	border: 3px solid black;
	background-color: yellow;
}

.titol2 {
	width: 350px;
	border: 3px solid black;
	background-color: yellow;
}

.titol3 {
	width: 240px;
	border: 3px solid black;
	background-color: yellow;
}

.titol4 {
	width: 220px;
	border: 3px solid black;
	background-color: yellow;
}
.titol5 {
	background-color: yellow;
	width: 220px;
	border: 3px solid black;
}

.titol6 {
	background-color: yellow;
	width: 320px;
	border: 3px solid black;
}
td {
	text-align: center;
}

.color {
	float: right;
	height: 15%;
	width: 15%;
	margin-top: 5%;
	margin-right: 4%;
}


.input100-db-2 {
  font-size: 15px;
  color: #666666;
	float: right;
  width: 33%;
  background: white;
	margin-top: -2%;
	margin-right: 10%;
	font-weight: normal;
	text-align: left;
	text-align: center;
  height: 33%;
	border: 2px solid black;
}

.blanconegrita-db {
	font-weight: bold;
	color: white;
	font-size: 16px;
}

.login100-form-btn-db-s {
  font-size: 14px;
  color: black;
	margin-top: 12px;
  font-weight: bold;
	margin-right: 3%;
  width: 100%;
  height: 45%;
  background: white;
	float: right;
	clear: right;
	border: 2px solid black;
}

@media (max-width: 1100px) {
	.blanconegrita-db {
		font-size: 14px;
	}
}

@media (max-width: 1020px) {
	.blanconegrita-db {
		font-size: 12px;
	}
}

.verde-db {
	background-color: green;
	float: left;
	font-size: 16px;
	margin-top: 10px;
	text-align: center;
	color: white;
}

.margen {
	margin-left: 5%;
}
