.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border: 1px solid #0c5460;
  padding:10px;
  width:438px;
  margin-bottom: 1rem;
  
  border-radius: .25rem;
 
 }
 
 
 .alert-danger {
   color: #721c24;
   background-color: #f8d7da;
   border: 1px solid #f5c6cb;
   padding:10px;
   width:438px;
   margin-bottom: 1rem;
   
   border-radius: .25rem;
    
 }
 


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body, html {
	height: 100%;
	font-family: sans-serif;
}
a {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
  color: #57b846;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}
p {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}
ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
}
textarea {
  outline: none;
  border: none;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }
input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }
textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.txt1 {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #cecece;
  background: -webkit-linear-gradient(-135deg, #00008b, #00008b);
  background: -o-linear-gradient(-135deg, #00008b, #00008b);
  background: -moz-linear-gradient(-135deg, #00008b, #00008b);
  background: linear-gradient(-135deg, #00008b, #e0a255);
}

.wrap-login100 {
  width: 620px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 80px 25px 55px;
}

.login100-form-title {
  color: #333333;
  line-height: 1.25;
	font-size: 30px;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 22px;
}

.wrap-input100 {
  position: center;
  width: 100%;
  z-index: 1;
  margin-bottom: 15px;
}

.input100 {
  font-family: sans-serif;
  font-size: 16px;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 36px;
  border-radius: 25px;
	margin-bottom: -5px;
  padding: 0 30px 0 30px;
}

.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}
@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 250px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}

.login100-form-btn {
  font-family: sans-serif;
	margin-top: -15px;
  font-size: 14px;
  line-height: 1;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 25px;
  border-radius: 25px;
  background: orange;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.login100-form-btn-2 {
	font-family: sans-serif;
  font-size: 14px;
  line-height: 1;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 35px;
  border-radius: 25px;
  background: #b0209d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.login100-form-btn-2:hover {
  background: #B67E72;
}

.error_msg {
	text-align: center;
	line-height: 1.5;
	margin-top: 15px;
  font-size: 14px;
  color: white;
  width: 100%;
  background: red;
}

.margin {
	margin-left: 12px;
	margin-bottom: 6px;
	width: 500px;
	float: left;
}
